## Librerias para la Ciencia de Datos

1. Numpy: Permite trabajar con matrices de datos y otras ecuaciones.
2. Pandas: Estructuras de datos y herramimentas.
3. Scipy: Técnicas de computación númerica y científica.
4. Matplotlib: Gráficos.
5. Seaborn: Simplificación de gráficos.
6. Statsmodels: Implementa muchas técnicas estadísticas.

In [1]:
import numpy as np
import pandas as pd

a  = np.array([0,1,2,3,4,5,6,7,8,9,10])
np.mean(a)

# mean -> media del arreglo

5.0

## Gestión de Datos

Es muy importante para el análisis estadístico y el trabajo para la ciencia de datos

Código para importar y transformar datos ->

In [2]:
url = "https://www.datos.gov.co/resource/thwd-ivmp.csv"

# Leemos el archivo y lo guardamos como marco de datos

df = pd.read_csv(url) #le pasamos la variable

type(df) # veremos que tipo de dato es

pandas.core.frame.DataFrame

## Observacion de Datos

In [8]:
# Podemos ver nuestro Data Frame, Data Frame
# es como una estructura que tiene dos dimensiones
# Columna, Filas, permite datos heterogeneos, y así

df.head() # Permite ver las primero 5 columnas

,ano,mes,codigo_rnt,cod_mun,cod_dpto,estado_rnt,razon_social_establecimiento,departamento,municipio1,categoria1,sub_categoria1,habitaciones1,camas1,num_emp1
0,2021,1,11,11001,11,ACTIVO,BCD TRAVEL OFICINA PRINCIPAL,BOGOTA DC,BOGOTA DC,AGENCIA DE VIAJES,AGENCIAS DE VIAJES Y DE TURISMO,0,0,200
1,2021,1,20,11001,11,ACTIVO,LUBEL.COM,BOGOTA DC,BOGOTA DC,OFICINAS DE REPRESENTACION TURISTICA,OFICINA DE REPRESENTACION TURISTICA,0,0,1
2,2021,1,43,19001,19,ACTIVO,HOTEL LOS BALCONES,CAUCA,POPAYAN,ESTABLECIMIENTOS DE ALOJAMIENTO TURISTICO,HOTEL,8,16,2
3,2021,1,56,11001,11,ACTIVO,REVEL REPRESENTACIONES TURISTICAS,BOGOTA DC,BOGOTA DC,OFICINAS DE REPRESENTACION TURISTICA,OFICINA DE REPRESENTACION TURISTICA,0,0,3
4,2021,1,61,13001,13,ACTIVO,AVIATUR CARTAGENA,BOLIVAR,CARTAGENA,AGENCIA DE VIAJES,AGENCIAS DE VIAJES Y DE TURISMO,0,0,36

In [9]:
df

,ano,mes,codigo_rnt,cod_mun,cod_dpto,estado_rnt,razon_social_establecimiento,departamento,municipio1,categoria1,sub_categoria1,habitaciones1,camas1,num_emp1
0,2021,1,11,11001,11,ACTIVO,BCD TRAVEL OFICINA PRINCIPAL,BOGOTA DC,BOGOTA DC,AGENCIA DE VIAJES,AGENCIAS DE VIAJES Y DE TURISMO,0,0,200
1,2021,1,20,11001,11,ACTIVO,LUBEL.COM,BOGOTA DC,BOGOTA DC,OFICINAS DE REPRESENTACION TURISTICA,OFICINA DE REPRESENTACION TURISTICA,0,0,1
2,2021,1,43,19001,19,ACTIVO,HOTEL LOS BALCONES,CAUCA,POPAYAN,ESTABLECIMIENTOS DE ALOJAMIENTO TURISTICO,HOTEL,8,16,2
3,2021,1,56,11001,11,ACTIVO,REVEL REPRESENTACIONES TURISTICAS,BOGOTA DC,BOGOTA DC,OFICINAS DE REPRESENTACION TURISTICA,OFICINA DE REPRESENTACION TURISTICA,0,0,3
4,2021,1,61,13001,13,ACTIVO,AVIATUR CARTAGENA,BOLIVAR,CARTAGENA,AGENCIA DE VIAJES,AGENCIAS DE VIAJES Y DE TURISMO,0,0,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2021,1,6925,47001,47,ACTIVO,PUNTO DE VENTAS SERVINCLUIDOS (EXPLORER) SANTA...,MAGDALENA,SANTA MARTA,AGENCIA DE VIAJES,AGENCIAS DE VIAJES Y DE TURISMO,0,0,5
996,2021,1,6926,8001,8,ACTIVO,PUNTO DE VENTAS SERVINCLUIDOS BARRANQUILLA CEN...,ATLANTICO,BARRANQUILLA,AGENCIA DE VIAJES,AGENCIAS DE VIAJES Y DE TURISMO,0,0,3
997,2021,1,6927,63401,63,ACTIVO,FINCA HOTEL LA MORELIA DE LA TEBAIDA,QUINDIO,LA TEBAIDA,VIVIENDAS TURISTICAS,FINCAS TURISTICAS (ALOJAMIENTO RURAL),6,15,2
998,2021,1,6931,44001,44,ACTIVO,HOTEL ARENAS,GUAJIRA,RIOHACHA,ESTABLECIMIENTOS DE ALOJAMIENTO TURISTICO,HOTEL,16,40,4
999,2021,1,6932,68547,68,ACTIVO,AGENCIA DE VIAJES GUILLERMO TOURS,SANTANDER,PIEDECUESTA,AGENCIA DE VIAJES,AGENCIAS DE VIAJES OPERADORAS,0,0,1

In [10]:
# Mostrar Columnas

df.columns

Index(['ano', 'mes', 'codigo_rnt', 'cod_mun', 'cod_dpto', 'estado_rnt',
       'razon_social_establecimiento', 'departamento', 'municipio1',
       'categoria1', 'sub_categoria1', 'habitaciones1', 'camas1', 'num_emp1'],
      dtype='object')

### Trabajar con Datos

Es sumamente importante poder trabajar con porciones de datos específicos, para lo cuál existen 3 funciones:

1. .loc()
2. .iloc()
3. .ix()

### .loc()

Toma dos operadores de rango de lista única que estan separados por una coma

In [17]:
df.loc[910:,"razon_social_establecimiento"]

# mostrara todas las observaciones de esta fila
# los primeros dos puntos [:] indican el numero de filas
# en este caso son todas, y despues de la coma, indica
# el nombre de la columna.
# si es [:10,"nombre_columna"] -> mostrará los primeros 10
# si es [10:,"nombre_columna"] -> mostrará todos desde el 10

910                                        REGINES HOTEL
911                                    MUNDITUR LIMITADA
912                              HOTEL CALARCA # 1 A Y B
913    UN MUNDO DE TRAVESIAS AGENCIA DE VIAJES Y TURI...
914                                     HOSPEDAJE MONACO
                             ...
995    PUNTO DE VENTAS SERVINCLUIDOS (EXPLORER) SANTA...
996    PUNTO DE VENTAS SERVINCLUIDOS BARRANQUILLA CEN...
997                 FINCA HOTEL LA MORELIA DE LA TEBAIDA
998                                         HOTEL ARENAS
999                    AGENCIA DE VIAJES GUILLERMO TOURS
Name: razon_social_establecimiento, Length: 90, dtype: object

In [10]:
# dará error -> df.loc[:,"ano","estado_rnt","razon_social_establecimiento"]
# Muchas indexaciones 

# Forma correcta.

df.loc[:,["ano","estado_rnt","razon_social_establecimiento"]]

df.loc[df.estado_rnt=="ACTIVO"]

Empty DataFrame
Columns: [ano, mes, codigo_rnt, cod_mun, cod_dpto, estado_rnt, razon_social_establecimiento, departamento, municipio1, categoria1, sub_categoria1, habitaciones1, camas1, num_emp1]
Index: []

## .iloc()

Segmentación basadas en enteros, en el ejemplo anterior con .loc() se localizaban las etiquetas, en este caso por medio de un número entero se indica los datos que querremos ver.

In [20]:
df.iloc[:4]

,ano,mes,codigo_rnt,cod_mun,cod_dpto,estado_rnt,razon_social_establecimiento,departamento,municipio1,categoria1,sub_categoria1,habitaciones1,camas1,num_emp1
0,2021,1,11,11001,11,ACTIVO,BCD TRAVEL OFICINA PRINCIPAL,BOGOTA DC,BOGOTA DC,AGENCIA DE VIAJES,AGENCIAS DE VIAJES Y DE TURISMO,0,0,200
1,2021,1,20,11001,11,ACTIVO,LUBEL.COM,BOGOTA DC,BOGOTA DC,OFICINAS DE REPRESENTACION TURISTICA,OFICINA DE REPRESENTACION TURISTICA,0,0,1
2,2021,1,43,19001,19,ACTIVO,HOTEL LOS BALCONES,CAUCA,POPAYAN,ESTABLECIMIENTOS DE ALOJAMIENTO TURISTICO,HOTEL,8,16,2
3,2021,1,56,11001,11,ACTIVO,REVEL REPRESENTACIONES TURISTICAS,BOGOTA DC,BOGOTA DC,OFICINAS DE REPRESENTACION TURISTICA,OFICINA DE REPRESENTACION TURISTICA,0,0,3

In [21]:
df.iloc[1:4, 2:4] 

# las primeras 4 filas, iniciando desde el index 1
# pero las posiciones 2 y 4 en columnas, osea dos columnas

   codigo_rnt  cod_mun
1          20    11001
2          43    19001
3          56    11001

#### Consultar Tipos de Datos en Data Frame

Podemos nuestros columnas de nuestros Data Frame invocando .dtypes

In [22]:
df.dtypes

ano                              int64
mes                              int64
codigo_rnt                       int64
cod_mun                          int64
cod_dpto                         int64
estado_rnt                      object
razon_social_establecimiento    object
departamento                    object
municipio1                      object
categoria1                      object
sub_categoria1                  object
habitaciones1                    int64
camas1                           int64
num_emp1                         int64
dtype: object

Se nos indicará que tipo de datos hay en el Data Frame

In [23]:
df.dtypes

ano                              int64
mes                              int64
codigo_rnt                       int64
cod_mun                          int64
cod_dpto                         int64
estado_rnt                      object
razon_social_establecimiento    object
departamento                    object
municipio1                      object
categoria1                      object
sub_categoria1                  object
habitaciones1                    int64
camas1                           int64
num_emp1                         int64
dtype: object

In [25]:
df.estado_rnt.unique()

# Es un estado unico de la columna, por eso mismo,
# como se hace normalmente en python
# se llama el dataframe.nombre_columna.unique()

array(['ACTIVO'], dtype=object)

#### Agrupar datos cuando esten desordenadas

df.groupby(["mes","ano"]).size()

In [27]:
df.groupby(["mes","ano"]).size()

## En este caso no era necesario esa agrupación
# porque los datos no necesitan agruparse en este
# caso.

mes  ano
1    2021    1000
dtype: int64